In [3]:
import numpy as np
import cv2 as cv
import os
import pandas as pd
print(os.listdir("input/"))

['labels.csv', 'data', 'sample_submission.csv']

Importing data

In [5]:
df_labels = pd.read_csv("input/labels.csv")

In [6]:
df_labels.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [14]:
img = cv.imread('input/data/train/'+df_labels.id[0]+'.jpg')
img.shape

(375, 500, 3)

In [15]:
heights = []
widths = []
for filename in df_labels.id:
    img = cv.imread('input/data/train/'+filename+'.jpg')
    h, w, _ = img.shape
    heights.append(h)
    widths.append(w)

In [16]:
## Create DF and get height and width of image in filenames array and add to dataframe
new_df = pd.DataFrame({
    'h': heights,
    'w': widths
})

In [17]:
# Calculate the mean of the dataframe
new_df.mean(axis = 0)

h    386.747212
w    443.331540
dtype: float64